.git/
.venv/
.pytest_cache/
**/__pycache__/
**/*.pyc
*.egg-info/
node_modules/
.env
*.env
.env.*
!*.env.example

bench_app/*.log

bench_app/data/
bench_app/static/downloads/
bench_app_empty/
dist/
output/
